{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block content %}
    <h3> Votre commande a bien été prise en compte</h3>
    <p>Merci de votre visite !</p>
    <p> A bientôt sur notre site !</p>
{% endblock %}